@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="newsPartial" class="col-md-8 offset-2">
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Name</label>
        <input class="form-control col-sm-10" type="text" name="name" v-model="news.name" />
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Description</label>
        <input class="form-control col-sm-10" type="text" name="name" v-model="news.description" />
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Content</label>
        <textarea class="form-control col-sm-10" id="createNewsTextArea" v-model="news.content"></textarea>
    </div>
    <div class="tags-form">
        <div class="tags-label">
            <div class="d-flex flex-row-reverse bd-highlight flex-wrap">
                <div v-for="item in selectedTags" class="p-2 bd-highlight align-items-center">
                    <span class="d-flex badge badge-pill badge-secondary">
                        <span class="align-self-center">#{{item}}</span>
                        <button type="button" v-on:click="removeTag(item)" class="close align-self-center" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="tags-input d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <form autocomplete="off" action="/action_page.php">
                    <label class="col-form-label-sm">Tags:</label>
                    <div class="autocomplete" style="width:300px;">
                        <input class="form-control-sm" id="myInput" type="text" name="myCountry" placeholder="tag">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section-div d-flex justify-content-end">
        <div class="input-group mb-3 p-2 col-md-5">
            <div class="input-group-prepend">
                <label class="input-group-text" for="selectSection">Section</label>
            </div>
            <select class="custom-select" id="selectSection" v-model="news.sectionId">
                <option v-for="section in sections" v-bind:value="section.id">{{section.name}}</option>
            </select>
        </div>
    </div>

    <div style="text-align:right">
        <input id="applyNewNews" v-on:click="applyClick" type="button" style="display:inline-block" class="btn btn-light" name="apply" value="Apply" />
    </div>
    <div class="commentaries d-flex justify-content-center ">
        <div class="d-flex flex-column">
            <div v-for="comment in news.comments" class="commentBlock">
                <div class="authorBlock">
                    <img src="~/icon/man_default_avatar.png" class="img-thumbnail rounded float-left" alt="Cinque Terre">
                </div>
                <div class="contentBlock p-2 bd-highlight">
                    <textarea class="form-control" v-model="comment.content"></textarea>
                </div>
            </div>
            _________________
            <hr />
            <div class="addNewComment">
                <textarea v-model="newComment.content" class="p-2 bd-highlight form-control"></textarea>
                <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                    <input v-on:click="createComment"
                           class="btn btn-light d-sm-flex p-2 bd-highlight" type="button" name="name" value="save" />
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/NewsDetailsPartial.css" rel="stylesheet" />
<script src="~/js/Comment/Comment.js"></script>
<script src="~/js/Comment/CommentHub.js"></script>
<!--

<script src="~/js/NewsPartialVue.js"></script>

-->
<script src="~/js/autocomplite.js"></script>
<script>
           /* $(document).ready(function () {
                window.viewModel = new NewsPartialViewModel();
                window.viewModel.newsVue.initialize();
            });*/
</script>

<link href="~/css/AutoComplete.css" rel="stylesheet" />