@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="persanaldataContainer" class="row">
    <div class="col-md-4">
        <img src="~/icon/man_default_avatar.png" class="img-circle" alt="Cinque Terre">
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="inputEmail" class="col-form-label">Email</label>
            <input id="inputEmail" v-model="user.email"
                   class="form-control" type="text" name="name" value="" placeholder="email@example.com" />
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-form-label">Password</label>
            <input id="inputPassword" v-model="user.password"
                   class="form-control" type="password" name="name" value="" placeholder="password" />
        </div>
        <div class="form-group">
            <label for="inputName" class="col-form-label">Name</label>
            <input id="inputName" v-model="user.name"
                   class="form-control" type="text" name="name" value="" placeholder="Your name" />
        </div>
        <input type="button" class="btn btn-secondary" name="name" value="Apply" v-on:click="saveUser" />
    </div>
</div>
