
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>News</h1>

@{ Html.RenderPartial("~/Views/News/_NewsListPartial.cshtml");}


<script>
    $(document).ready(function () {
        let loader = new Loader({ getActionsUrl: domainPath + '/api/news/getActions' });
        loader.getActions()
            .done(function (data) {
                let service = new NewsService(data.actions);
                let viewModel = new NewsViewModel(service);
                viewModel.newsVue.initialize();
            });
    });
</script>