
@{
    ViewData["Title"] = "MyNews";
}
<link href="~/css/mySpace/myNews.css" rel="stylesheet" />
<h1>MyNews</h1>

@{ Html.RenderPartial("~/Views/News/_NewsListPartial.cshtml");}

<!--
<script src="~/js/markDown/MarkDownHelper.js"></script>

<script src="~/js/markDown/ace/1.1.3/ace.js"></script>
<script src="~/js/markDown/ace/1.1.3/ext-language_tools.js"></script>
<script src="~/js/markDown/ace/1.1.3/mode-markdown.js"></script>
<script src="~/js/markDown/ace/1.1.3/theme-tomorrow.js"></script>
<script src="~/js/markDown/marked/0.3.2/marked.min.js"></script>
<script src="~/js/markDown/jquery/2.1.3/jquery.min.js"></script>

<link href="~/css/markDown/bootstrap-markdown-editor.css" rel="stylesheet">
<script src="~/lib/bootstap_3.3.1/js/bootstrap.min.js"></script>
<script src="~/js/markDown/bootstrap-markdown-editor.js"></script>
-->


<script>
    jQuery(document).ready(function ($) {
        let loader = new Loader({ getActionsUrl: domainPath + '/api/news/getActions' });
        loader.getActions()
            .done(function (data) {
                let service = new NewsService(data.actions);
                let viewModel = new NewsViewModel(service);
                viewModel.newsVue.userForFilter = sessionStorage.getItem('currentUserId');
                viewModel.newsVue.initialize();
            });
    });
</script>